<ion-header>
  <ion-navbar>
    <ion-title>集計</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ngx-datatable class="grid" [rows]="data" [columns]="column" [rowHeight]="25" [scrollbarV]="true"></ngx-datatable>
  <!-- renderer -->
  <ng-template #dateTpl let-column="column">
    <div class="" (click)="alert('gerare')">{{column.data}}</div>
  </ng-template>
  <ng-template #numTpl let-column="column" let-value="value">
    <div class="grid-cell-align-right">{{value|number}}</div>
  </ng-template>
  <ng-template #updTpl let-column="column" let-value="value" let-row="row">
    <div class="updBtn" (click)="upd(row)">{{value}}</div>
  </ng-template>
</ion-content>